  <!-- Structured data: helps Google show a Knowledge Panel / local pack
     result for brand + "foundry Tangerang" type searches. -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "PT. Bina Usaha Mandiri Mizusawa",
    "alternateName": "BUMM",
    "url": "{{ site.production_url }}/",
    "logo": "{{ site.production_url }}/assets/img/hero-pour.jpg",
    "foundingDate": "1983",
    "parentOrganization": {
      "@type": "Organization",
      "name": "Bakrie Autoparts"
    },
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Jl. KH. EZ Muttaqien, Kec. Jatiuwung, Kel. Alam Jaya",
      "addressLocality": "Kota Tangerang",
      "addressRegion": "Banten",
      "postalCode": "15133",
      "addressCountry": "ID"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+62-21-5902488",
      "contactType": "sales"
    },
    "sameAs": [
      "https://www.facebook.com/PT-BUMM-981977421946203",
      "https://www.twitter.com/bummizusawa",
      "https://www.instagram.com/bummizusawa"
    ]
  }
  </script>
